

# Install with: pip install -r requirements-dev.txt

# Automation
tox>=4.27.0
types-PyYAML>=6.0.12.12

# Testing
pytest>=8.4.1
coverage
pytest-cov>=6.0.0

# Linting & formatting
ruff>=0.12.11
pylint>=3.3.8
black>=25.1.0

# Type checking
mypy>=1.17.1

# Building & publishing
build
twine

# Documentation
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
